body {
    padding: 0;
    margin: 15px;
}
form .well-sm {
    padding: 0;
    margin-bottom: 15px;
}
form label {
    display: block;
}
form .form-control {
    width: 180px !important;
    max-height: 80px;
}
.row {
    margin: 10px 0px;
}